// Nav Bar For Category Selection Styling
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #efefef;
}

.topnav a:not(:first-child) {
    display: none;
}
.topnav a.icon {
    float: right;
    display: block;
}

.topnav.responsive {
    position: relative;
}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

// Section Main Styling

main {
    box-sizing: border-box;
    
    .w3-container {
        background-color: white;

        hr{
            border: 1px solid black;
        }
    }
}

// Form Styling
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  input[type=text],select {
      width: 80%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }